{% extends "frontend/base.html"  %}

{% block title %}Dashboard{% endblock %}

{% block main %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Charts</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
            <li class="breadcrumb-item active">Charts</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">Chart.js is a third party plugin that is used to generate the charts in this template. The charts below have been customized - for further customization options, please visit the official <a target="_blank" href="https://www.chartjs.org/docs/latest/">Chart.js documentation</a>.</div>
        </div>
        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-chart-area mr-1"></i>Area Chart Example</div>
            <div class="card-body"><canvas id="myAreaChart" width="100%" height="30"></canvas></div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Bar Chart Example</div>
                    <div class="card-body"><canvas id="bar-chartzz" width="100%" height="50"></canvas></div>
                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
            </div>



            
        </div>
    </div>

    <div class="chart-1">
      <h1>Chart 1</h1>
      <canvas id="chart-1" width="100%" height="30"></canvas>
  </div>

    <div class="chart-2">
      <h1>Chart 2</h1>
      <canvas id="chart-2" width="100%" height="30"></canvas>
    </div>
      
    <div class="chart-3">
        <h1>Not done</h1>
      <h1>Chart 3</h1>
      <canvas id="chart-3" width="100%" height="30"></canvas>
    </div>


    <div class="chart-4">
      <h1>Chart 4</h1>
      <canvas id="chart-4" width="100%" height="30"></canvas>
    </div>


    <div class="chart-5">
      <h1>Chart 5</h1>
      <canvas id="chart-5" width="100%" height="30"></canvas>
    </div>





    <script>

      // chart 1
    var ctx = document.getElementById("chart-1");
    var myBarChart = new Chart(ctx, {
      
      type: 'line',
      data: {
        labels: {{ indv_started_labels|safe }},
        datasets: [{
          label: 'Chart 1',
          data: {{ indv_started_data|safe}} ,
          backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
            ],
        }],
      },
    });


    // chart 2
    var ctx_2 = document.getElementById("chart-2");
    var myBarChart = new Chart(ctx_2, {
      
      type: 'line',
      data: {
        labels: {{ org_started_labels|safe }},
        datasets: [{
          label: 'Chart 2',
          data: {{ org_started_data|safe}} ,
          backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
            ],
        }],
      },
    });

    // chart 3
    var ctx_3 = document.getElementById("chart-3");
    var myBarChart = new Chart(ctx_3, {
      
      type: 'line',
      data: {
        labels: {{ indv_started_labels|safe }},
        datasets: [{
          label: 'Individuals',
            data: {{ indv_started_data|safe }}
        }, {
            label: 'Organization',
            data: {{org_started_data|safe}},


          backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
            ],
        }],
      },
    });


    // Chart 4
    var ctx_4 = document.getElementById("chart-4");
    var myBarChart = new Chart(ctx_4, {
      
      type: 'pie',
      data: {
        labels: ['Individual', 'Organization'],
        datasets: [{
          label: 'Chart 5',
          data: ["{{ total_indv }}", "{{ total_org }}"] ,
          backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
            ],
        }],
      },
    });


    // chart 5
    var ctx_5 = document.getElementById("chart-5");
    var myBarChart = new Chart(ctx_5, {
      
      type: 'bar',
      data: {
        labels: {{ indv_satis_labels|safe }},
        datasets: [{
          label: 'Chart 5',
          data: {{ indv_satis_data|safe}} ,
          backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
            ],
        }],
      },
    });


    // chart 6
    var ctx_6 = document.getElementById("chart-6");
    var myBarChart = new Chart(ctx_6, {
      
      type: 'bar',
      data: {
        labels: {{ indv_satis_labels|safe }},
        datasets: [{
          label: 'Chart 5',
          data: {{ indv_satis_data|safe}} ,
          backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
            ],
        }],
      },
    });




      // chart 7
      var ctx_7 = document.getElementById("chart-7");
    var myBarChart = new Chart(ctx_7, {
      
      type: 'bar',
      data: {
        labels: {{ indv_satis_labels|safe }},
        datasets: [{
          label: 'Chart 5',
          data: {{ indv_satis_data|safe}} ,
          backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
            ],
        }],
      },
    });

  
  
    </script>


</main>
{% endblock %}